<link rel="stylesheet" href="/static/custom-theme/css/custom_courseware.css">
<section class="about">
  <h2 class="About_course">About This Course</h2>
  <h2 class="desc_heading">FRM Training Package 1 </h2>
  <p class="description">
    The FRM Training Package 1 (TP 1) is an Advanced Package available for both Part 1 and Part 2. This package should be purchased by candidates who want to go for a self-paced flexible course with supporting resources from our side.
  </p>
  <!--
  <h3>
    The fee for this package is :
  </h3>
  <p>
    1) INR 15000 (plus GST) or USD 235 for each part.
  </p>
  <p>
    2) INR 27000 (plus GST) or USD 423 for both parts combined.
  </p>
  <p>
    Payment can be done via credit cards, debit cards, net banking, wallets, UPI etc.
  </p>
  <p>
    For enrolments, please raise an invoice request through WhatsApp on <a href="tel:+919155199555">+91 91551 99555</a> or through mail to <a href="mailto:midhafin@outlook.com">midhafin@outlook.com</a>
  </p>
-->
</section>

<section class="prerequisites">
  <h2 class="Prerequisites">Prerequisites</h2>
<ul>
    <li><p class="prereq">Add information about course prerequisites here.</p></li>
    <li><p  class="prereq">Add information about course prerequisites here.</p></li>
  </ul>
</section>
<section class="Audience">
  <h2 class="Audi">Audience</h2>
  <ul >
    <li><p class="audi">Add information about course prerequisites here.</p></li>
    <li><p class="audi">Add information about course prerequisites here.</p></li>
  </ul>
</section>
<section class="course-staff">
  <h2 class="instructor">Course Instructor</h2>
  <div class="teacher">
    <%include file="staff1.html"/>
 </div>
 
 <!-- <article class="teacher">
    <div class="teacher-image">
      <img src="/static/images/placeholder-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
    </div>

    <h3>Staff Member #1</h3>
    <p>Biography of instructor/staff member #1</p>
  </article>

  <article class="teacher">
    <div class="teacher-image">
      <img src="/static/images/placeholder-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #2">
    </div>

    <h3>Staff Member #2</h3>
    <p>Biography of instructor/staff member #2</p>
  </article> -->
</section>
<!--
<section class="faq">
  <section class="responses">
    <h2>Frequently Asked Questions</h2>
    <article class="response">
      <h3>Do I need to buy a textbook?</h3>
      <p>No, a free online version of Chemistry: Principles, Patterns, and Applications, First Edition by Bruce Averill and Patricia Eldredge will be available, though you can purchase a printed version (published by FlatWorld Knowledge) if you’d like.</p>
    </article>

    <article class="response">
      <h3>Question #2</h3>
      <p>Your answer .</p>
    </article>
  </section>
</section>
-->