<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Blog")}</%block>
<link rel="stylesheet" href="/static/custom-theme/css/custom_static.css" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<main id="main" aria-label="Content" tabindex="-1">

<div id="content" class="site-content clr"><article class="single-page-article clr"><div class="entry clr"><h1 class="has-text-align-center">COMPLETE ABC STUDY MATERIAL</h1><p class="aLF-aPX-K0-aPE" style="text-align: left;"><span style="color: #000000;">We provide study material for all the topics of the ABC Part 1 and ABC Part 2 Exams. The study material is based completely on the GARP readings.</span></p><p class="aLF-aPX-K0-aPE" style="text-align: left;"><span style="color: #000000;">They are downloadable and printable for your convenience.</span></p><p class="aLF-aPX-K0-aPE" style="text-align: left;"><span style="color: #000000;">The material has been formatted and structured quite systematically which makes it extremely user-friendly for readers. The material covers the topics in-depth and does not omit anything which is relevant from the point of view of the ABC exam.</span></p><p></p></div></article></div>
   <div class="icon_whatsapp">
     <a href="https://api.whatsapp.com/send?phone=919155199555&amp;text=I%20am%20interested%20in%20your%20services.%20How%20to%20get%20started%3F">
        <span id="Whatsapp_icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
    </a>
</div>
</main>
