<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Blog")}</%block>
<link rel="stylesheet" href="/static/custom-theme/css/custom_static.css" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main id="main" aria-label="Content" tabindex="-1">
<div class="elementor-widget-container">
	<div class="elementor-text-editor elementor-clearfix">
		<h1 style="text-align: center;">
			<strong>ABC Exam Videos by John Doe </strong>
		</h1>
		<p>
		The ABC Video Package is an Advanced Package available for both Part 1 and Part 2. This package should be purchased by candidates who want to go for a self-paced flexible course with supporting resources from our side.
	</p>
	<h5>&nbsp;</h5>
	<h3 style="text-align: center;">
		<strong>The fee for this package is :</strong>
	</h3>
	<p>
	1) INR 15000 (plus GST) or USD 235 for each part.<br>2) INR 27000 (plus GST) or USD 423 for both parts combined.</p>
   <p>Payment can be done via credit cards, debit cards, net banking, wallets, UPI etc.</p>
   <p>For enrolments, please raise an invoice request through WhatsApp on<strong>
   	<a href="tel:+91-9155199555" id="contact_detail"> +91 9669966969</a> 
   </strong>or through mail to <strong><a id="contact_detail" href="mailto:TestSite@outlook.com">TestSite@outlook.com</a></strong>
</p>
<h5>&nbsp;</h5>
<h3 style="text-align: center;">&nbsp; <strong>&nbsp; &nbsp; &nbsp; CONTENTS</strong></h3>
<ol>
	<li>
		<a href="https://TestSite.com/lecture-videos/">Lecture Videos</a>
	</li>
	<li>
		<a href="https://TestSite.com/lecture-videos/">Lecture PDFs</a> containing Notes for all chapters
	</li>
	<li>
		<a href="https://TestSite.com/doubt-clearing-forum/">User-friendly Forums for doubt solving</a>. Every single doubt will be solved. Any questions can be asked from any other source as well
	</li>
	<li>
		<a href="https://TestSite.com/question-banks/">Question Bank</a> PDFs and Videos with complete solutions
	</li>
	<li>
		<a href="https://TestSite.com/past-sample-paper-questions/">Past Sample Paper Questions</a>, organized module wise
	</li>
	<li>
		<a href="https://TestSite.com/mock-tests/">Mock Tests</a>
	</li>
</ol>
<h5>&nbsp;</h5>
<h3 style="text-align: center;"><strong>&nbsp;REBATES</strong></h3>
<div>
	<strong>&nbsp;</strong>
</div>
<p>
	<strong>Student Rebate of 20 percent applicable</strong>&nbsp;upon presenting a valid current student id card
</p>
<p><strong>Quick Registration Rebate of 10 percent applicable</strong> ONLY for working professionals (WhatsApp on <strong>
	<a href="tel:+91-9155199555" id="contact_detail">+91-966996969</a></strong>&nbsp; for details)
</p>
</div>
</div>
</main>
