<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
<link rel="stylesheet" href="/static/custom-theme/css/course_item.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/custom-theme/css/product_card.css" type="text/css" media="all">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){

/*Carousel js code*/
$('.owl-carousel').owlCarousel({
  		loop: false,
		center: false,
		items: 3,
		margin: 20,
		autoplay: false,
		dots:true,
    		nav:true,
		autoplayTimeout: 8500,
		smartSpeed: 450,
  		navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsiveClass: true,
		responsive: {
			0: {
				items: 1
			},
			768: {
				items: 2
			},
			1400: {
				items: 3
			}
		}
	});


   var pops = $("[rel=popover]");

  %for course in courses[:homepage_course_max]:

  /*Popover js code*/
  $('#${course.display_number_with_default}').popover({
      placement: 'right',
      trigger: 'manual',
      animation: false,
      content : function() {
          return $('#${course.display_number_with_default}-popover').html();
        }
   }).on('mouseenter', function () {
    var _this = this;
    pops.not('#${course.display_number_with_default}').popover("hide");
    $(this).popover('show');
    //$(document).not(this).popover('hide');
    $('.popover').on('mouseleave', function () {
        $(_this).popover('hide');
    });
	}).on('mouseleave', function () {
    var _this = this;
    setTimeout(function () {
        if (!$('.popover:hover').length) {
            $(_this).popover('hide');
        }
    }, 50);
	});  

  %endfor

});


</script>
<section class="courses-container">
  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
	<div class="owl-slider">
	<div id="carousel" class="owl-carousel owl-theme">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:homepage_course_max]:
		<div class="item">
              <%include file="course.html" args="course=course" />
		</div>
          %endfor
        </div>
	</div>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

</section>
<section class="branding-mid">
	<img src="${static.url("images/mid-banner.png")}"/>
</section>
</section>
<section class="courses-details">
	<div class="container courses-listing">
		%for course in courses[:homepage_course_max]:
		<a class="row card details" href="${reverse('about_course', args=[text_type(course.id)])}">
			<div class="col-sm-4 col-md-6 col-lg-5 col-xl-5" style="padding:10px;">
				<img class="course-img" src="${course.course_image_url}" />
			</div>
			<div class="col-sm-8 col-md-6 col-lg-7 col-xl-7" style="padding-left:10vw; display:block; line-height:1rem;">
				<span><h2>${course.display_name_with_default}</h2></span>
				<span><h4>Course by : ${course.display_org_with_default}</h4></span>
				<span id="list_starts"> <i class="fa fa-clock-o" aria-hidden="true"></i>
          			Starts : 
          <%
          if course.start is not None:
            course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
          else:
            course_date_string = ''
          %>
          % if course.advertised_start is not None:
            <time itemprop="startDate">${course.advertised_start}</time>
          % else:
            <time class="localized_datetime" itemprop="startDate" data-format="shortDate" 
                                      data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time>
	  % endif
        			</span>
			</div>
	       </a>
	       %endfor
	</div>
</section>
