<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from django.conf import settings
from six import text_type
from course_modes.models import CourseMode
%>
<%page args="course" expression_filter="h"/>

<%
      if course.start is not None:
          course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
      else:
          course_date_string = ''
%>
<%
	price = CourseMode.min_course_price_for_verified_for_currency(course.id,settings.PAID_COURSE_REGISTRATION_CURRENCY[0])
%>
<div id="${course.display_number_with_default}-popover" style="display:none;">
<div class="container1">
  <div class="card pop">
    <div class="card-head pop">
      <br>
      <div class="product-detail">
        <h2>${course.display_name_with_default}</h2> 
	<h3>Enroll Now!</h3>
      </div>
      <span class="back-text"></span>
    </div>
    <div class="card-body pop">
      <div class="product-desc">
        <span class="product-title">
                <b>${course.display_org_with_default}</b>
                <span class="badge">
                  New
                </span>
        </span>
        <span class="product-caption">
                Caption goes here
        </span>
        <span class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star grey"></i>
        </span>
      </div>
      <div class="product-properties">
        <span class="product-size">
                <p><h4>Starts : </h4><time class="localized_datetime" itemprop="startDate" data-format="shortDate" 
			data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time></p>
        </span>
        <a class="btn product-price" href="${reverse('about_course', args=[text_type(course.id)])}">
			%if price>0:
				USD $<b style="padding-left:0px;"> ${price}</b>
			%else:
				<b>FREE</b>
			%endif
        </a>
      </div>
    </div>
  </div>
</div>
</div>
